{
  "openapi": "3.0.1",
  "info": {
    "title": "Payments V2 Status \u2013 ISO XML",
    "description": "Returns the status of the ISO XML payment request.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0",
    "x-additionalDocs": {
      "overview": {
        "fileName": ""
      },
      "webhook": {
        "enable": false,
        "allowGET": true,
        "allowURI": true,
        "allowQS": false
      }
    }
  },
  "tags": [
    {
      "name": "Payments V2 Status - ISO XML",
      "description": "CashPro API Payments gives you the flexibility to know the status ofsingle payment instruction that was initiated via  multiple global payment types directly from enterprise or treasury management systems using ISO XML messaging"
    }
  ],
  "servers": [
    {
      "url": "https://api.bofa.com/ cashpro/payments/v2/isoxml-transfers/status",
      "description": "Production Gateway Base URL"
    },
    {
      "url": "https://api-sb.bofa.com/ cashpro/payments/v2/isoxml-transfers/status",
      "description": "Sandbox Base URL"
    }
  ],
  "paths": {
    "/cashpro/payments/v2/isoxml-transfers/status": {
      "get": {
        "tags": [
          "Payments V2 Status - ISO XML"
        ],
        "summary": "Payment Status allows to know the status of single payment instruction through CashPro Payments.",
        "operationId": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "A unique access token to be used for a single request (ex. 'Bearer [value]')",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "A unique identifier to be used for a single intent ID. Length: 1 - 256 </br> Eg. 123898733525554444",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "header",
            "description": "File Identifier for the file to retrieve status of payment.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISOXmlResponseBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentsIsoXml400"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentsIsoXml401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentsIsoXml403"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentsIsoXml404"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentsIsoXml405"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentsIsoXml406"
                }
              }
            }
          },
          "408": {
            "description": "HTTP Timeout Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentsIsoXml408"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentsIsoXml415"
                }
              }
            }
          },
          "429": {
            "description": "API calls exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentsIsoXml429"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentsIsoXml500"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentsIsoXml503"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ISOXmlResponseBody": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": "Unique Identifier"
          },
          "status": {
            "type": "string",
            "description": "Status of payment"
          },
          "transaction": {
            "type": "array",
            "description": "Array of transaction details",
            "items": {
              "$ref": "#/components/schemas/transactionResponse"
            }
          },
          "reason": {
            "type": "array",
            "description": "Array of Details of the reason itself",
            "items": {
              "$ref": "#/components/schemas/reasonResponse"
            }
          }
        },
        "example": {
          "statusResponse": [
            {
              "transactionIdentification": "FS1APD54L2RZ0MCL",
              "status": "Unsuccessful",
              "transaction": [
                {
                  "tranId": "T0MAPD66OJNMDGDC",
                  "endToEndIdentification": "2L2TLL1J42JK",
                  "status": "Rejected",
                  "reason": [
                    {
                      "reasonCode": "VDT-VAL-007",
                      "reasonDescription": "Value Date cannot be older than 30 days."
                    }
                  ]
                }
              ],
              "reason": [
                {
                  "reasonCode": "CPS-ENT-001",
                  "reasonDescription": "Entitlement SenderID Failed"
                }
              ]
            }
          ]
        }
      },
      "transactionResponse": {
        "type": "object",
        "properties": {
          "tranId": {
            "type": "string",
            "description": "Transaction Id : transaction status API to get the status of the transactions  <br>"
          },
          "endToEndIdentification": {
            "type": "string",
            "description": "End to end Identification : When request sent for File and transaction status API, in response it will return the endToEndIdentification which will be fetched from the payload. (e.g.: <EndToEndId>E2ET2LS221</EndToEndId>)  <br>"
          },
          "status": {
            "type": "string",
            "description": "For file and transaction status API, will be getting file and transaction status. (e.g. Reject, Pending Approval, Unsuccessful, Accepted By Bank and Rejected by Bank along with Settlement Complete.) <br>"
          },
          "reason": {
            "type": "array",
            "description": "Array of Details of the reason itself : For a File status and Transaction status API, will get the reason code with reasonCode and reasonDescription. <br>",
            "items": {
              "$ref": "#/components/schemas/reasonResponse"
            }
          }
        }
      },
      "reasonResponse": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "Reason code for the failure  <br>"
          },
          "reasonDescription": {
            "type": "string",
            "description": "Reason description for the failure <br>"
          }
        }
      },
      "paymentsIsoXml400": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/400Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "clientRequestId:123",
          "status": "Failure",
          "apiName": "GET/cashpro/payments/v2/isoxml-transfers/status",
          "reason": {
            "reasonCode": 400,
            "reasonDescription": "Validation error:Incomplete/Incorrect Request : Missing or Extra fields"
          }
        }
      },
      "paymentsIsoXml401": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/401Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "d7df57b0-37b8-11ea-8715-005056a7d6dc",
          "status": "Failure",
          "apiName": "GET/cashpro/payments/v2/isoxml-transfers/status",
          "reason": {
            "reasonCode": 401,
            "reasonDescription": "Authentication Failure"
          }
        }
      },
      "paymentsIsoXml403": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/403Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "4654681-37d3-11ea-92e7-005056a74762",
          "status": "Failure",
          "apiName": "GET/cashpro/payments/v2/isoxml-transfers/status",
          "reason": {
            "reasonCode": 403,
            "reasonDescription": "Forbidden"
          }
        }
      },
      "paymentsIsoXml404": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/404Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "29804110-37b9-11ea-99c7-005056a7d6dc",
          "status": "Failure",
          "apiName": "GET/cashpro/payments/v2/isoxml-transfers/status",
          "reason": {
            "reasonCode": 404,
            "reasonDescription": "Resource Not Found"
          }
        }
      },
      "paymentsIsoXml405": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/405Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "clientRequestId:1649682845",
          "status": "Failure",
          "apiName": "POST/cashpro/payments/v2/isoxml-transfers/status",
          "reason": {
            "reasonCode": 405,
            "reasonDescription": "Validation error:Request method 'POST' not supported"
          }
        }
      },
      "paymentsIsoXml406": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/406Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "69524190-37b8-11ea-abc9-005056a7d6dc",
          "status": "Failure",
          "apiName": "GET/cashpro/payments/v2/isoxml-transfers/status",
          "reason": {
            "reasonCode": 406,
            "reasonDescription": "Not Acceptable"
          }
        }
      },
      "paymentsIsoXml408": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/408Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "69524190-37b8-11ea-abc9-005056a7d6dc",
          "status": "Failure",
          "apiName": "GET/cashpro/payments/v2/isoxml-transfers/status",
          "reason": {
            "reasonCode": 408,
            "reasonDescription": "HTTP Timeout Exception"
          }
        }
      },
      "paymentsIsoXml415": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/415Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "clientRequestId:1649684545",
          "status": "Failure",
          "apiName": "GET/cashpro/payments/v2/isoxml-transfers/status",
          "reason": {
            "reasonCode": 415,
            "reasonDescription": "Validation error:Content type 'application/javascript' not supported"
          }
        }
      },
      "paymentsIsoXml429": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/429Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "clientRequestId:1234",
          "status": "Failure",
          "apiName": "GET/cashpro/payments/v2/isoxml-transfers/status",
          "reason": {
            "reasonCode": 429,
            "reasonDescription": "API Hit Rate Error:Maximum number of times this API can be called per second has been exceeded"
          }
        }
      },
      "paymentsIsoXml500": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/500Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "ae18f4d0-37b9-11ea-8ce3-005056a74762",
          "status": "Failure",
          "apiName": "GET/cashpro/payments/v2/isoxml-transfers/status",
          "reason": {
            "reasonCode": 500,
            "reasonDescription": "Internal Server Error"
          }
        }
      },
      "paymentsIsoXml503": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/503Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "4654681-37d3-11ea-92e7-005056a74762",
          "status": "Failure",
          "apiName": "GET/cashpro/payments/v2/isoxml-transfers/status",
          "reason": {
            "reasonCode": 503,
            "reasonDescription": "Service Unavailable"
          }
        }
      },
      "400Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "401Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "403Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "404Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "405Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "406Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "408Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "415Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "429Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "500Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "503Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      }
    }
  }
}