{
  "openapi": "3.0.1",
  "info": {
    "title": "Investible Indices \u2013 Edit an Index Definition",
    "description": "Submits a managed request (a request that must be approved) to edit data related to a single attribute of an index, the PTWs (target weights) for the components of a basket, for instance.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0",
    "x-additionalDocs": {
      "overview": {
        "fileName": ""
      }
    }
  },
  "tags": [
    {
      "name": "Markets - Investible Indices"
    }
  ],
  "servers": [
    {
      "url": "https://api.bofa.com/commodities/v1/investible-indices/indices/{indexBloombergStub}",
      "description": "Production Gateway Base URL"
    },
    {
      "url": "https://api-sb.bofa.com/commodities/v1/investible-indices/indices/{indexBloombergStub}",
      "description": "Sandbox Base URL"
    }
  ],
  "paths": {
    "/commodities/v1/investible-indices/indices/{indexBloombergStub}": {
      "patch": {
        "tags": [
          "Markets - Investible Indices"
        ],
        "summary": "Submits a managed request (a request that must be approved) to edit data related to a single attribute of an index, the PTWs (target weights) for the components of a basket, for instance.",
        "operationId": "",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Identifying the content of the payload as JSON.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An unexpired access token to be used for this request (ex. \u201cBearer [value]\u201d).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DataType",
            "in": "query",
            "description": "The type of index data to update (e.g. PTW for target weights, HP for hedge positions,  RS for roll schedules, TRAN_CALDAY for transitions).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DefinitionDate",
            "in": "query",
            "description": "The index definition date which is being updated (YYYY-MM-DD format).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DefinitionMoment",
            "in": "query",
            "description": "The index definition \u201cmoment\u201d which should be updated (e.g. Close).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BasketName",
            "in": "query",
            "description": "BasketName identifies component of a basket.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indexBloombergStub",
            "in": "path",
            "description": "indexBloombergStub",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "403": {
            "description": "The IP Address is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/406Error"
                }
              }
            }
          },
          "408": {
            "description": "Timeout exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/408Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/415Error"
                }
              }
            }
          },
          "429": {
            "description": "API calls exceeded"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/503Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "requestBody": {
        "type": "object",
        "required": [
          "commodityIndex"
        ],
        "properties": {
          "commodityIndex": {
            "type": "integer",
            "description": "Name of the commodity index that contains traded commodities such as crude oil, gold, corn and other heavily traded commodities.",
            "example": "0.05"
          }
        },
        "example": {
          "MLCX1CLE": 0.05,
          "MLCX2SIE": 0.01,
          "MLCX1NGE": 0.02,
          "MLCX1HOE": 0.057,
          "MLCX2GC": -0.12,
          "MLCX1XB": -0.06,
          "MLCX1HGE": 0.03,
          "MLCIXMCO": 0.05
        }
      },
      "401Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "404Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "405Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "406Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "408Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "415Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "500Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "503Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "200Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "",
            "example": "true"
          },
          "requestId": {
            "type": "integer",
            "description": "",
            "example": "20086, 20087"
          }
        },
        "description": "",
        "example": {
          "success": true,
          "requestId": 20087
        }
      },
      "400Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": ""
          },
          "error": {
            "type": "string",
            "description": ""
          }
        },
        "description": "",
        "example": {
          "success": false,
          "error": "Unable to find XYZ"
        }
      },
      "401Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/401Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "f670ae11-6f84-11ee-8046-005056a71594",
          "status": "Failure",
          "apiName": "PATCH/commodities/v1/investible-indices/indices/MLCIXMCO",
          "reason": {
            "reasonCode": 401,
            "reasonDescription": "Authentication Failure"
          }
        }
      },
      "403Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": ""
          }
        },
        "description": "",
        "example": {
          "error": "The IP Address is invalid: 11.22.333.44"
        }
      },
      "404Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/404Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "5911a981-6f84-11ee-a2bc-005056a71594",
          "status": "Failure",
          "apiName": "PATCH/commodities/v1/investible-indices/ind1ices/MLCIXMCO",
          "reason": {
            "reasonCode": 404,
            "reasonDescription": "Resource Not Found"
          }
        }
      },
      "405Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/405Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "86459f61-6f84-11ee-9e17-005056a71594",
          "status": "Failure",
          "apiName": "POST/commodities/v1/investible-indices/indices/MLCIXMCO",
          "reason": {
            "reasonCode": 405,
            "reasonDescription": "Method Not Allowed"
          }
        }
      },
      "406Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/406Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "33499d60-6f85-11ee-a440-005056a73ca1",
          "status": "Failure",
          "apiName": "PATCH/commodities/v1/investible-indices/indices/MLCIXMCO",
          "reason": {
            "reasonCode": 406,
            "reasonDescription": "Not Acceptable"
          }
        }
      },
      "408Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/408Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "dfc53111-8116-11ee-8a8c-005056a75082",
          "status": "Failure",
          "apiName": "PATCH/commodities/v1/investible-indices/indices/MLCIXMCO",
          "reason": {
            "reasonCode": 408,
            "reasonDescription": "Timeout exceeded"
          }
        }
      },
      "415Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/415Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "98731870-6f84-11ee-8d0d-005056a71594",
          "status": "Failure",
          "apiName": "PATCH/commodities/v1/investible-indices/indices/MLCIXMCO",
          "reason": {
            "reasonCode": 415,
            "reasonDescription": "Unsupported Media Type"
          }
        }
      },
      "500Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/500Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "98731870-6f84-11ee-8d0d-005056a71594",
          "status": "Failure",
          "apiName": "PATCH/commodities/v1/investible-indices/indices/MLCIXMCO",
          "reason": {
            "reasonCode": 500,
            "reasonDescription": "Internal Server Error"
          }
        }
      },
      "503Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/503Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "98731870-6f84-11ee-8d0d-005056a71594",
          "status": "Failure",
          "apiName": "PATCH/commodities/v1/investible-indices/indices/MLCIXMCO",
          "reason": {
            "reasonCode": 503,
            "reasonDescription": "Service Unavailable"
          }
        }
      }
    }
  }
}