{
  "openapi": "3.0.1",
  "info": {
    "title": "Investible Indices \u2013 Request Data Inquiry",
    "description": "Returns data regarding a previously submitted managed request. It is most commonly used to determine the status of a current request.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0",
    "x-additionalDocs": {
      "overview": {
        "fileName": ""
      }
    }
  },
  "tags": [
    {
      "name": "Markets - Investible Indices"
    }
  ],
  "servers": [
    {
      "url": "https://api.bofa.com/commodities/v1/investible-indices/requests/{requestId}",
      "description": "Production Gateway Base URL"
    },
    {
      "url": "https://api-sb.bofa.com/commodities/v1/investible-indices/requests/{requestId}",
      "description": "Sandbox Base URL"
    }
  ],
  "paths": {
    "/commodities/v1/investible-indices/requests/{requestId}": {
      "get": {
        "tags": [
          "Markets - Investible Indices"
        ],
        "summary": "Returns data regarding a previously submitted managed request. It is most commonly used to determine the status of a current request.",
        "operationId": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An unexpired access token to be used for this request (ex. \u201cBearer [value]\u201d).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Datatype",
            "in": "query",
            "description": "The type of request info to return (e.g. Status)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "path",
            "description": "Identifying a previously submitted managed request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "403": {
            "description": "The IP Address is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/406Error"
                }
              }
            }
          },
          "408": {
            "description": "Timeout exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/408Error"
                }
              }
            }
          },
          "429": {
            "description": "API calls exceeded"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/503Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "400Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "401Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "403Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "404Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "405Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "406Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "408Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "500Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "503Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "200Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "",
            "example": "true"
          },
          "requestId": {
            "type": "integer",
            "description": "",
            "example": "20086, 20087"
          },
          "status": {
            "type": "string",
            "description": "",
            "example": "Pending, Withdrawn"
          }
        },
        "description": "",
        "example": {
          "success": true,
          "requestId": 20087,
          "status": "Pending"
        }
      },
      "400Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "",
            "example": "false"
          },
          "error": {
            "type": "string",
            "description": "",
            "example": "Unable to find request 20088, Unsupported dataType retrieval for requests: stat"
          }
        },
        "description": "",
        "example": {
          "success": false,
          "error": "Unable to find request 20088"
        }
      },
      "401Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/401Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "a83a3490-6a0d-11ee-a440-005056a73ca1",
          "status": "Failure",
          "apiName": "GET/commodities/v1/investible-indices/requests/20086",
          "reason": {
            "reasonCode": 401,
            "reasonDescription": "Authentication Failure"
          }
        }
      },
      "403Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": ""
          }
        },
        "description": "",
        "example": {
          "error": "The IP Address is invalid: 11.22.333.44"
        }
      },
      "404Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/404Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "77e1f2e1-69ce-11ee-ac3a-005056a73ca1",
          "status": "Failure",
          "apiName": "GET/commodities/v1/investible-indices/requestsXYZ/20086",
          "reason": {
            "reasonCode": 404,
            "reasonDescription": "Resource Not Found"
          }
        }
      },
      "405Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/405Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "64917da0-69ce-11ee-a488-005056a73ca1",
          "status": "Failure",
          "apiName": "POST/commodities/v1/investible-indices/requests/20086",
          "reason": {
            "reasonCode": 405,
            "reasonDescription": "Method Not Allowed"
          }
        }
      },
      "406Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/406Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "77e1f2e1-69ce-11ee-ac3a-005056a73ca1",
          "status": "Failure",
          "apiName": "GET/commodities/v1/inv1estible-indices/requests/20086",
          "reason": {
            "reasonCode": 406,
            "reasonDescription": "Not Acceptable"
          }
        }
      },
      "408Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/408Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "72c40370-8058-11ee-a144-005056a75082",
          "status": "Failure",
          "apiName": "GET/commodities/v1/investible-indices/requestsA/20086",
          "reason": {
            "reasonCode": 408,
            "reasonDescription": "Timeout exceeded"
          }
        }
      },
      "500Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/500Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "77e1f2e1-69ce-11ee-ac3a-005056a73ca1",
          "status": "Failure",
          "apiName": "GET/commodities/v1/inv1estible-indices/requests/20086",
          "reason": {
            "reasonCode": 500,
            "reasonDescription": "Internal Server Error"
          }
        }
      },
      "503Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/503Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "77e1f2e1-69ce-11ee-ac3a-005056a73ca1",
          "status": "Failure",
          "apiName": "GET/commodities/v1/inv1estible-indices/requests/20086",
          "reason": {
            "reasonCode": 503,
            "reasonDescription": "Service Unavailable"
          }
        }
      }
    }
  }
}