{
  "openapi": "3.0.1",
  "info": {
    "title": "Investible Indices \u2013 Current Index Definition Inquiry",
    "description": "Returns data related to a single attribute of an index definition, the PTWs (target weights) for the components of a basket, for instance.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0",
    "x-additionalDocs": {
      "overview": {
        "fileName": ""
      }
    }
  },
  "tags": [
    {
      "name": "Markets - Investible Indices"
    }
  ],
  "servers": [
    {
      "url": "https://api.bofa.com/commodities/v1/investible-indices/indices/{indexBloombergStub}",
      "description": "Production Gateway Base URL"
    },
    {
      "url": "https://api-sb.bofa.com/commodities/v1/investible-indices/indices/{indexBloombergStub}",
      "description": "Sandbox Base URL"
    }
  ],
  "paths": {
    "/commodities/v1/investible-indices/indices/{indexBloombergStub}": {
      "get": {
        "tags": [
          "Markets - Investible Indices"
        ],
        "summary": "Returns data related to a single attribute of an index definition, the PTWs (target weights) for the components of a basket, for instance.",
        "operationId": "",
        "parameters": [
          {
            "name": "indexBloombergStub",
            "in": "path",
            "description": "indexBloombergStub",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An unexpired access token to be used for this request (ex. \u201cBearer [value]\u201d).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Datatype",
            "in": "query",
            "description": "The type of index data to return (e.g. PTW for target weights, HP for hedge positions, RS for roll schedules, TRAN_CALDAY for transitions).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DefinitionDate",
            "in": "query",
            "description": "The index definition date to retrieve data from (YYYY-MM-DD format).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DefinitionMoment",
            "in": "query",
            "description": "The index definition \u201cmoment\u201d to retrieve data from (e.g. Close).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BasketName",
            "in": "query",
            "description": "BasketName identifies component of a basket.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "403": {
            "description": "The IP Address is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/406Error"
                }
              }
            }
          },
          "408": {
            "description": "Timeout exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/408Error"
                }
              }
            }
          },
          "429": {
            "description": "API calls exceeded"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/503Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "401Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "404Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "405Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "406Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "408Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "500Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "503Reason": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "integer"
          },
          "reasonDescription": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "",
            "example": "true"
          },
          "indexName": {
            "type": "string",
            "description": "",
            "example": "MLCIXMCO, MLCXSX6L"
          },
          "dataType": {
            "type": "string",
            "description": "",
            "example": "PTW, HP"
          },
          "data": {
            "type": "array",
            "description": "",
            "items": {
              "$ref": "#/components/schemas/data"
            }
          }
        },
        "description": "",
        "example": {
          "success": true,
          "indexName": "MLCIXMCO",
          "dataType": "PTW",
          "data": {
            "MLCX1CLE": 0.05328428,
            "MLCX2SIE": 0.0,
            "MLCX1NGE": 0.02316369,
            "MLCX1HOE": 0.05703183,
            "MLCX2GCE": -0.12654321,
            "MLCX1XBE": -0.06301367,
            "MLCX1HGE": 0.0
          }
        }
      },
      "data": {
        "type": "object",
        "properties": {
          "CommodityIndex": {
            "type": "integer",
            "description": ""
          }
        }
      },
      "400Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "",
            "example": "false"
          },
          "error": {
            "type": "string",
            "description": "",
            "example": "Unable to find XYZ, list index out of range"
          }
        },
        "description": "",
        "example": {
          "success": false,
          "error": "Unable to find XYZ"
        }
      },
      "401Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/401Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "92b32f30-80d5-11ee-9472-005056a73ca1",
          "status": "Failure",
          "apiName": "GET/commodities/v1/investible-indices/indices/MLCIXMCO",
          "reason": {
            "reasonCode": 401,
            "reasonDescription": "Authentication Failure"
          }
        }
      },
      "403Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": ""
          }
        },
        "description": "",
        "example": {
          "error": "The IP Address is invalid: 11.22.333.44"
        }
      },
      "404Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/404Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "2742fd40-69db-11ee-9e2e-005056954efa",
          "status": "Failure",
          "apiName": "GET/commodities/v1/investible-indices/indicesA/MLCIXMCO",
          "reason": {
            "reasonCode": 404,
            "reasonDescription": "Resource Not Found"
          }
        }
      },
      "405Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/405Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "0c791440-69db-11ee-9e2e-005056954efa",
          "status": "Failure",
          "apiName": "POST/commodities/v1/investible-indices/indices/MLCIXMCO",
          "reason": {
            "reasonCode": 405,
            "reasonDescription": "Method Not Allowed"
          }
        }
      },
      "406Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/406Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "57feba50-69db-11ee-9e2e-005056954efa",
          "status": "Failure",
          "apiName": "GET/commodities/v1/investible-indices/indices/MLCIXMCO",
          "reason": {
            "reasonCode": 406,
            "reasonDescription": "Not Acceptable"
          }
        }
      },
      "408Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/408Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "8a779960-80d4-11ee-8222-005056a77629",
          "status": "Failure",
          "apiName": "GET/commodities/v1/investible-indices/indices/MLCIXMCO",
          "reason": {
            "reasonCode": 408,
            "reasonDescription": "Timeout exceeded"
          }
        }
      },
      "500Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/500Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "2742fd40-69db-11ee-9e2e-005056954efa",
          "status": "Failure",
          "apiName": "GET/commodities/v1/investible-indices/indices/MLCIXMCO",
          "reason": {
            "reasonCode": 500,
            "reasonDescription": "Internal Server Error"
          }
        }
      },
      "503Error": {
        "type": "object",
        "properties": {
          "transactionIdentification": {
            "type": "string",
            "description": ""
          },
          "status": {
            "type": "string",
            "description": ""
          },
          "apiName": {
            "type": "string",
            "description": ""
          },
          "reason": {
            "$ref": "#/components/schemas/503Reason"
          }
        },
        "description": "",
        "example": {
          "transactionIdentification": "2742fd40-69db-11ee-9e2e-005056954efa",
          "status": "Failure",
          "apiName": "GET/commodities/v1/investible-indices/indices/MLCIXMCO",
          "reason": {
            "reasonCode": 503,
            "reasonDescription": "Service Unavailable"
          }
        }
      }
    }
  }
}