openapi: 3.1.0
info:
  title: IRS Information Returns Intake System (IRIS) Application-to-Application (A2A) API
  description: |
    Official API for the IRS Information Returns Intake System (IRIS) Application-to-Application (A2A) channel.
    This API enables software developers, transmitters, and issuers to electronically file information
    returns (Forms 1099 series, W-2G, 3921, 3922, 5498 series) directly with the IRS.

    **Important Notes:**
    - All transmissions use XML format (not JSON)
    - Requires OAuth 2.0 JWT-based authentication with RS256 signing
    - Maximum payload size: 100MB
    - Test environment: https://api.alt.www4.irs.gov
    - Production environment: https://api.www4.irs.gov

    **Documentation:**
    - [Publication 5718 - IRIS A2A Specifications](https://www.irs.gov/pub/irs-pdf/p5718.pdf)
    - [IRIS Schemas and Business Rules](https://www.irs.gov/irisschema)
    - [Get an API Client ID](https://www.irs.gov/tax-professionals/get-an-api-client-id)

  version: 1.0.0
  contact:
    name: IRS e-Services Help Desk
    email: irisa2a@irs.gov
    url: https://www.irs.gov/iris
  license:
    name: U.S. Government
    url: https://www.irs.gov

servers:
  - url: https://api.www4.irs.gov
    description: Production environment
    variables:
      basePath:
        default: /RIntakeAcceptanceA2A/1.0/irisa2a/v1
        description: Base path for A2A operations
  - url: https://api.alt.www4.irs.gov
    description: Test environment (ATS - Assurance Testing System)
    variables:
      basePath:
        default: /RIntakeAcceptanceA2A/1.0/irisa2a/v1
        description: Base path for A2A operations

tags:
  - name: Authentication
    description: OAuth 2.0 token operations
  - name: Transmission
    description: Information return submission operations
  - name: Status
    description: Transmission status and acknowledgment operations

security:
  - OAuth2: [ ]

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: |
        IRS e-Services OAuth 2.0 authentication using JWT Bearer assertions.
        Requires two JWTs: one for client assertion and one for user assertion.
        Both JWTs must be signed with RS256 algorithm using keys from JWK uploaded to API Client ID application.

        **Grant Type:** urn:ietf:params:oauth:grant-type:jwt-bearer

        **Token Endpoint:** POST /auth/oauth/v2/token

        **Required Parameters:**
        - grant_type: "urn:ietf:params:oauth:grant-type:jwt-bearer"
        - assertion: User JWT (represents resource owner)
        - client_assertion_type: "urn:ietf:params:oauth:client-assertion-type:jwt-bearer"
        - client_assertion: Client JWT (represents client application)

        **JWT Header Requirements:**
        - kid: Key ID (must match JWK uploaded to API Client ID application)
        - alg: Must be "RS256"

        **JWT Payload Claims:**
        - iss: API Client ID (from e-Services application)
        - sub: Client ID (for client JWT) or full IRIS User ID (for user JWT)
        - aud: "https://api.irs.gov"
        - iat: Issued at time (Epoch seconds)
        - exp: Expiration time (Epoch seconds, max 15 minutes from iat)
        - jti: Unique JWT ID (prevents replay)

        **Token Expiration:**
        - Access Token: 15 minutes
        - Refresh Token: 60 minutes

        **See Also:**
        - [Get an API Client ID](https://www.irs.gov/tax-professionals/get-an-api-client-id)
        - Publication 5718, Section 3.1.3
      flows:
        clientCredentials:
          tokenUrl: https://api.www4.irs.gov/auth/oauth/v2/token
          refreshUrl: https://api.www4.irs.gov/auth/oauth/v2/token

  schemas:
    Error:
      type: object
      description: Error response
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Error code (e.g., "AUTH_MISSING_TCC", "VALIDATION_ERROR")
        message:
          type: string
          description: Human-readable error message
        timestamp:
          type: string
          format: date-time
          description: Timestamp of error
        details:
          type: object
          description: Additional error details

    TokenRequest:
      type: object
      required:
        - grant_type
        - assertion
        - client_assertion_type
        - client_assertion
      properties:
        grant_type:
          type: string
          enum: ["urn:ietf:params:oauth:grant-type:jwt-bearer"]
          description: OAuth grant type
        assertion:
          type: string
          description: User JWT (represents resource owner/user)
        client_assertion_type:
          type: string
          enum: ["urn:ietf:params:oauth:client-assertion-type:jwt-bearer"]
          description: Client assertion type
        client_assertion:
          type: string
          description: Client JWT (represents client application)

    TokenResponse:
      type: object
      required:
        - access_token
        - token_type
        - refresh_token
        - expires_in
      properties:
        access_token:
          type: string
          description: Bearer access token for API calls
        token_type:
          type: string
          enum: [Bearer]
          description: Token type
        refresh_token:
          type: string
          description: Refresh token to obtain new access tokens
        expires_in:
          type: integer
          description: Access token lifetime in seconds (typically 900 = 15 minutes)

    Receipt:
      type: object
      required:
        - receiptId
        - utid
        - timestamp
      properties:
        receiptId:
          type: string
          description: Unique receipt ID assigned by IRS
          example: "2022-68537508811-4386213b8"
        utid:
          type: string
          description: Unique Transmission Identifier
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}:IRIS:[A-Za-z0-9]{5}::[A-Z]$'
          example: "da20a4de-1357-11ed-861d-0242ac120002:IRIS:D1234::A"
        timestamp:
          type: string
          format: date-time
          description: Receipt timestamp

    TransmissionSubmission:
      type: object
      description: |
        Multipart/form-data submission containing IRIS XML payload.
        The XML payload must conform to IRIS schema (available at irs.gov/irisschema).
      required:
        - file
      properties:
        file:
          type: string
          format: binary
          description: |
            XML file containing IRIS transmission.
            Must include:
            - IRTransmissionManifest (transmission metadata)
            - IRSubmissionHeader(s) (submission metadata)
            - Form data (1099-NEC, 1099-MISC, etc.)
          encoding: UTF-8 without BOM

    StatusRequest:
      type: object
      description: XML request to query transmission status
      required:
        - SearchId
      properties:
        SearchId:
          type: string
          description: Receipt ID or UTID to query

    StatusResponse:
      type: object
      required:
        - searchId
        - tcc
        - utid
        - transmissionStatusCd
      properties:
        searchId:
          type: string
          description: The search term (Receipt ID or UTID)
        tcc:
          type: string
          pattern: '^[A-Za-z0-9]{5}$'
          description: Transmitter Control Code
        utid:
          type: string
          description: Unique Transmission Identifier
        transmissionStatusCd:
          type: string
          enum: [Accepted, Rejected, Processing, Partially Accepted, Accepted with Errors, Not Found]
          description: Transmission status
        submissionResults:
          type: array
          description: List of submission results (if multiple submissions)
          items:
            $ref: '#/components/schemas/SubmissionResult'
        errors:
          type: array
          description: List of errors (if any)
          items:
            $ref: '#/components/schemas/ErrorDetail'

    SubmissionResult:
      type: object
      required:
        - submissionId
        - submissionStatusCd
      properties:
        submissionId:
          type: string
          description: Submission Identifier (SID)
        submissionStatusCd:
          type: string
          enum: [Accepted, Rejected, Processing, Accepted with Errors, Not Found]
          description: Submission status
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        recordResults:
          type: array
          items:
            $ref: '#/components/schemas/RecordResult'

    RecordResult:
      type: object
      required:
        - recordId
      properties:
        recordId:
          type: string
          description: Record Identifier (RID)
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'

    ErrorDetail:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Business rule error code (e.g., "TMFST001", "S1H001")
        message:
          type: string
          description: Error description
        value:
          type: string
          description: The value that caused the error
        elementPath:
          type: string
          description: XPath to the element in error
        severity:
          type: string
          enum: [Error, Warning]
          description: Error severity

paths:
  # ========================================================================
  # Authentication Endpoints
  # ========================================================================
  /auth/oauth/v2/token:
    post:
      tags:
        - Authentication
      summary: Get OAuth access token
      description: |
        Obtain an access token for IRIS A2A API calls.
        Requires two JWT assertions (client and user) signed with RS256.
      operationId: getToken
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenRequest'
            encoding:
              style: form
      responses:
        '200':
          description: Token response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Bad request - invalid JWT or missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - JWT validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ========================================================================
  # Transmission Endpoints
  # ========================================================================
  /intake-acceptance:
    post:
      tags:
        - Transmission
      summary: Submit information return transmission
      description: |
        Submit an IRIS information return transmission for processing.

        **Requirements:**
        - Must include XML payload as multipart/form-data file attachment
        - XML must conform to IRIS schema
        - Maximum payload size: 100MB
        - Transmission must include at least one submission
        - UTID must be unique per TCC

        **Processing Flow:**
        1. Synchronous: Returns Receipt ID, UTID, Timestamp immediately
        2. Asynchronous: IRS validates and processes the XML payload
        3. Use GET /transstatusorack to retrieve final status

        **Response Codes:**
        - 200: Receipt ID generated (transmission accepted for processing)
        - 400: Bad request (validation failed)
        - 404: Not found (invalid endpoint)
        - 500: Internal server error
        - 503: Service unavailable

      operationId: submitTransmission
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransmissionSubmission'
            encoding:
              style: form
      responses:
        '200':
          description: Receipt ID generated successfully
          content:
            text/xml:
              schema:
                type: object
                properties:
                  ReceiptId:
                    type: string
                    description: Generated Receipt ID
                    example: "2022-68537508811-4386213b8"
        '400':
          description: Bad request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service unavailable
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'

  # ========================================================================
  # Status Endpoints
  # ========================================================================
  /transstatusorack:
    post:
      tags:
        - Status
      summary: Get transmission status and acknowledgment
      description: |
        Retrieve the current status and acknowledgment for a transmission.

        Can query by either:
        - Receipt ID (returned from submission)
        - Unique Transmission Identifier (UTID)

        **Status Codes:**
        - **Accepted**: Transmission processed and accepted
        - **Rejected**: Transmission rejected (errors provided)
        - **Processing**: Still being processed
        - **Partially Accepted**: Some submissions accepted, some rejected
        - **Accepted with Errors**: Accepted with non-fatal errors
        - **Not Found**: Receipt ID or UTID not found

      operationId: getTransmissionStatus
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/StatusRequest'
      responses:
        '200':
          description: Status response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: Bad request (invalid search parameters)
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found (Receipt ID or UTID not found)
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'

x-originals:
  irsPublication5718: https://www.irs.gov/pub/irs-pdf/p5718.pdf
  irisPortal: https://www.irs.gov/iris
  apiClientId: https://www.irs.gov/tax-professionals/get-an-api-client-id
  irisSchemas: https://www.irs.gov/irisschema
